################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediaLibrary.API/obj
/MediaLibrary.API/bin
