<ml-navbar>
  <nav class="flex items-stretch px-[20px] gap-[20px] h-full bg-inherit text-inherit">
    <ml-navbar-brand [routerLink]="'home'" [routerLinkActive]="'active'" class="cursor-pointer">My Brand</ml-navbar-brand>
    <div class="grow overflow-hidden">
      <ml-navbar-nav *ngIf="!isMobile" mlAutoHideNavbarLinks [ngClass]="{ 'hidden': navHidden$ | async }">
        <ml-nav-item [routerLink]="'music'" [routerLinkActive]="'active'">Music</ml-nav-item>
        <ml-nav-item [routerLink]="'podcast'" [routerLinkActive]="'active'">Podcasts</ml-nav-item>
        <ml-nav-item [routerLink]="'television'" [routerLinkActive]="'active'">Television</ml-nav-item>
        <ml-nav-item [routerLink]="'playlist'" [routerLinkActive]="'active'">Playlists</ml-nav-item>
        <ml-nav-item [routerLink]="'player'" [routerLinkActive]="'active'">Player</ml-nav-item>
      </ml-navbar-nav>
    </div>
    <ml-navbar-controls>
      <ml-search (search)="handleSearch($event)"></ml-search>
      <ml-navbar-icon [routerLink]="'settings'" [routerLinkActive]="'active'" [iconName]="'gear'"></ml-navbar-icon>
    </ml-navbar-controls>
    <ml-switch mlThemeToggle></ml-switch>
    <ml-navbar-toggler *ngIf="isMobile || (navHidden$ | async)"></ml-navbar-toggler>
  </nav>
  <ml-navbar-menu>
    <ml-navbar-nav>
      <ml-nav-item [routerLink]="'music'" [routerLinkActive]="'active'">Music</ml-nav-item>
      <ml-nav-item [routerLink]="'podcast'" [routerLinkActive]="'active'">Podcasts</ml-nav-item>
      <ml-nav-item [routerLink]="'television'" [routerLinkActive]="'active'">Television</ml-nav-item>
      <ml-nav-item [routerLink]="'playlist'" [routerLinkActive]="'active'">Playlists</ml-nav-item>
      <ml-nav-item [routerLink]="'player'" [routerLinkActive]="'active'">Player</ml-nav-item>
    </ml-navbar-nav>
  </ml-navbar-menu>
</ml-navbar>