<div class="p-[10px]">
  <ml-tab-group>
    <ml-tab header="Songs" [isSelected]="true">
      <ml-songs-grid [songs]="songs$ | async" class="overflow-auto" (editSong)="showEditSongModal($event)"
        (addToPlaylist)="showAddSongToPlaylistModal($event)"></ml-songs-grid>
    </ml-tab>
    <ml-tab header="Albums">
      <ml-album *ngFor="let album of albums$ | async" [album]="album"></ml-album>
    </ml-tab>
    <ml-tab header="Artists">
      <ml-artist *ngFor="let artist of artists$ | async" [artist]="artist"></ml-artist>
    </ml-tab>
  </ml-tab-group>
</div>

<ng-template mlModal [(isOpen)]="isEditModalOpen" (isOpenChange)="handleIsOpenChange($event)">
  <ml-edit-song-modal *ngIf="selectedSong" [song]="selectedSong"></ml-edit-song-modal>
</ng-template>

<ng-template mlModal [(isOpen)]="isAddToPlaylistModalOpen" (isOpenChange)="handleIsOpenChange($event)">
  <ml-add-to-playlist-modal [playlists]="playlists$ | async" [selectedPlaylistIds]="selectedPlaylistIds$ | async" 
    (selectedPlaylistIdsChange)="handlePlaylistIdsChange($event)">
  </ml-add-to-playlist-modal>
</ng-template>